
section {
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% - 250px);
  width: 500px;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  color: #333;
}

.blur {
  color: transparent;
  text-shadow: 0px 0px 15px #111;
  transition: 2s;
  opacity: 0;
  cursor: pointer;
}
.unblur {
  text-shadow: 0px 0px 0px #111;
  opacity: 1;
}

span{
    font-family: "Tom Riddle";
    letter-spacing: 3px;
}

.layer{
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;

  /*
  * Preventing flicker on some browsers
  * See http://stackoverflow.com/a/36671466/1081396  or issue #183
  */
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.toggle-map {
  border: 2px solid;
  margin: 30px auto 0;
  background: transparent;
  font: 34px "Lobster Two", cursive;
  text-shadow: 2px 2px 2px #000;
  padding: 8px 30px;
  cursor: pointer;
  position: relative;
}
.toggle-map:before {
  content: "";
  position: absolute;
  width: calc(100% - 8px);
  height: 51px;
  left: 2px;
  top: 2px;
  border: 2px solid;
}
.toggle-map:hover:before {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  left: -2px;
  top: -2px;
  right: auto;
}
.toggle-map:focus {
  outline: none;
}

.cssanimation, .cssanimation span {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to { opacity: 1 }
}



	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3,
    #slide1,
    #slide2{
		background-size: cover;
		background-attachment: fixed;
	}

	/* Defining each sectino background and styles
	* --------------------------------------- */
	#section0 {
		background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
	}
	#section0 h1{
		top: 50%;
		transform: translateY(-50%);
		position: relative;
	}
	#section2{
		background-image: url(imgs/bg3.jpg);
		padding: 6% 0 0 0;
	}
	#section3{
		background-image: url(imgs/bg4.jpg);
		padding: 6% 0 0 0;
	}
	#section3 h1{
		color: #000;
	}

	.myVideo{
		position: absolute;
  		right: 0;
  		bottom: 0;
  		top:0;
  		right:0;
  		width: 100%;
  		height: 100%;
  		background-size: 100% 100%;
   		
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		
	}
	video::-webkit-media-controls {
  		display:none !important;
	}

	#btn{
    color: #000;
  }
  
  #btn2{
    color: #fff;
	}
