* {
    margin: 0;
  
}

canvas {
  width: cover;
  height: 100%;
  z-index: 1;
}

a {
  width:800px;
  display:block;
  margin:0 auto;
  position:relative;
  top:-380px;
  left:4px;
  font-family:Helvetica, sans-serif;
  font-size:18px;
  text-decoration:none;
  color: #aaa;
}

a:hover {
  color: #888;
}