@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap");
body {
  font-family: 'Oswald', sans-serif;
  background: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover !important;
  overflow: hidden;
}
body .page_overlay {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/chernobylTexture.png");
  position: fixed;
  z-index: 10;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 100%;
  opacity: 0.7;
  height: 100%;
}
body .page iframe {
  opacity: 0.2;
}
body .page_slider {
  position: absolute;
  width: 1100px;
  height: 300px;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(calc(-50% - 40px)) translateX(-40px);
          transform: translateY(calc(-50% - 40px)) translateX(-40px);
}
body .page_slider__slide {
  position: absolute;
  width: 100%;
}
body .page_slider__slide.active .slide {
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
body .page_slider__slide .slide {
  position: absolute;
  width: 100%;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
body .page_slider__slide .slide.alt .slide_left {
  float: right;
}
body .page_slider__slide .slide.alt .slide_right {
  left: 0;
}
body .page_slider__slide .slide.alt .slide_right button {
  float: right;
  margin-right: 65px;
}
body .page_slider__slide .slide.alt .slide_right h2 {
  text-align: right;
  margin-right: 80px;
}
body .page_slider__slide .slide.alt .slide_right h2:before {
  left: auto;
  right: -32px;
}
body .page_slider__slide .slide_left {
  width: 70%;
  float: left;
  height: 300px;
}
body .page_slider__slide .slide_right {
  float: right;
  width: calc(50% - 56px);
  position: absolute;
  right: 0;
  height: 100%;
  text-transform: uppercase;
}
body .page_slider__slide .slide_right h2 {
  margin: 0;
  color: #f7912f;
  font-weight: 700;
  margin-left: 78px;
  font-size: 14px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.6s 0.2s;
}
body .page_slider__slide .slide_right h2::before {
  width: 20px;
  height: 1px;
  background: #f7912f;
  content: '';
  display: block;
  position: absolute;
  left: -26px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
body .page_slider__slide .slide_right p {
  color: white;
  font-weight: 800;
  font-size: 17px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.6s 0.1s;
}
body .page_slider__slide .slide_right button {
  position: relative;
  margin-left: 78px;
  left: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 10px 40px;
  font-weight: 700;
  margin-top: 6px;
  cursor: pointer;
  background: transparent;
  color: #f7912f;
  border: 2px solid #f7912f;
  opacity: 1;
  transition: left 0.6s 0s, background .2s;
  outline: none;
}
body .page_slider__slide .slide_right button:hover {
  background: #5d1a1a;
}
body .page_slider__slide .slide_right__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(calc(-50% + 50px));
          transform: translateY(calc(-50% + 50px));
}
body .page_slider__slide .slide_right__text.out h2 {
  left: 50px;
  opacity: 0;
}
body .page_slider__slide .slide_right__text.out p {
  left: 50px;
  opacity: 0;
}
body .page_slider__slide .slide_right__text.out button {
  left: 50px;
  opacity: 0;
}
body .page_header {
  padding: 50px;
}
body .page_header__logo {
  float: left;
}
body .page_header__menu {
  float: right;
}
body .page_sliderprogress {
  position: absolute;
  right: 70px;
  height: 205px;
  width: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
body .page_sliderprogress__point {
  color: white;
  height: 40px;
}
body .page_sliderprogress__point.active .point {
  opacity: 1;
  border-color: #f7912f;
}
body .page_sliderprogress__point.active .point:after {
  display: block;
  width: 4px;
  height: 4px;
  content: '';
  background: #f7912f;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  border-radius: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
body .page_sliderprogress__point.active .point:before {
  display: block;
  width: 20px;
  height: 1px;
  content: '';
  background: white;
  position: absolute;
  left: -30px;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
body .page_sliderprogress__point.active .text {
  opacity: 1;
}
body .page_sliderprogress__point .point {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  opacity: 0.13;
  border-radius: 100%;
  position: absolute;
}
body .page_sliderprogress__point .text {
  position: absolute;
  width: 140px;
  text-transform: uppercase;
  -webkit-transform: translateY(-4px) translateX(calc(-100% - 20px));
          transform: translateY(-4px) translateX(calc(-100% - 20px));
  opacity: 0;
}
body .page_sliderprogress__point .text h3 {
  font-size: 14px;
  margin: 0;
}
body .page_sliderprogress__point .text h4 {
  font-size: 12px;
  margin: 0;
  color: #f7912f;
}

.image {
  height: 430px;
  overflow: hidden;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all 4s;
}
.image.burn {
  -webkit-transform: scale(1) translateX(-170px);
          transform: scale(1) translateX(-170px);
}
.image.burn .image_burn {
  -webkit-animation: burn 1.3s forwards steps(50, end);
          animation: burn 1.3s forwards steps(50, end);
}
.image.burn .image_burnline {
  -webkit-animation: burn 1.3s forwards steps(50, end);
          animation: burn 1.3s forwards steps(50, end);
}
.image.burn .image_ash, .image.burn .image_ashOuter {
  -webkit-animation: ash 2s infinite steps(66, end);
          animation: ash 2s infinite steps(66, end);
}
.image div {
  position: absolute;
  width: 770px;
  height: 430px;
  background-size: auto 100%;
  background-position: 0 0;
}
.image div img {
  width: 700px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.image_burn {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/burnStrip.jpg");
}
.image_original {
  mix-blend-mode: darken;
}
.image_burnline {
  mix-blend-mode: lighten;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/burnlineStrip.jpg");
}
.image_ash {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/ashInnerStrip.jpg");
  mix-blend-mode: screen;
}
.image_ashOuter {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/ashOuterStrip.jpg");
  mix-blend-mode: difference;
}

@-webkit-keyframes burn {
  0% {
    backgound-position: 0 0;
  }
  100% {
    background-position: -38145px 0;
  }
}

@keyframes burn {
  0% {
    backgound-position: 0 0;
  }
  100% {
    background-position: -38145px 0;
  }
}
@-webkit-keyframes ash {
  0% {
    backgound-position: 0 0;
  }
  100% {
    background-position: -50190px 0;
  }
}
@keyframes ash {
  0% {
    backgound-position: 0 0;
  }
  100% {
    background-position: -50190px 0;
  }
}
